// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    text-align: center;
    background-color: rgb(245, 216, 221);
}

header {
    height: 50px;
    background-color:white;
}

