// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    text-align: center;
    background-color: rgb(245, 216, 221);
}

header {
    height: 50px;
    background-color:white;
}

.card {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto 20px;
}

#marker {
    background-image: url('img/mapMarker.png');
    background-size: cover;
    width: 50px;
    height: 70px;
  }